CONVEX_DEPLOYMENT=
CONVEX_SITE_URL=https://honorable-manatee-912.convex.cloud
VITE_CONVEX_URL=https://honorable-manatee-912.convex.cloud
VLY_CONVEX_AUTH_ISSUER=https://freebuff.com
RESEND_API_KEY=your_resend_api_key_here
